<div class="home-intro">
        <div class="home-title"> WorkGroup.World</div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>

        <div class="home-content">
                Home Page 
        </div>
<!--    <div class="home-content no-padding">WeChat;WorkGroupro.</div>
        <div class="home-content no-padding">HelloWorkDev@Gmail.Com</div>
        <div class="home-contact ">
        <div class="home-sub-title"> Google voice </div>
        <div class="home-content no-padding">+13133896888 text message </div>
 -->     
        <img src="/assets/img/clock.svg" width="100" height="100" alt="svg">
        <div id="time"></div>
</div>

