<div class="home-intro">
        <div class="home-title"> WorkGroup.World</div>
        <div class="home-sub-title" style="padding: 0px;"> Hello Friend!  </div>

        <div class="home-content">
                Home Page 
        </div>
        <div class="home-content no-padding">这里应该没有你要找的东西，这里只是我的记录链接的网站</div>
<!--    <div class="home-content no-padding">WeChat;WorkGroupro.</div>
        <div class="home-content no-padding">HelloWorkDev@Gmail.Com</div>
        <div class="home-contact ">
        <div class="home-sub-title"> Google voice </div>
       rajshekhar26.github.io
 -->     
        
        <div class="centered"><img src="/assets/img/clock.svg" width="200" height="200" alt="svg"> </div>
        <div id="time"></div>
</div>

